*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1280px;
    margin: 30px auto;
}

/* nav bar section */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}