/* Shared Section */
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1140px;
    margin: 30px auto;
}
.strong{
    color: orangered;
}

/* Nav Bar Section */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}
#home{
    font-weight: bold;
}

/* Banner Section */
.banner{
    display: flex;
    justify-content: end;
    align-items: end;
    justify-content: space-between;
    height: 500px;
}
.banner h1{
    font-size: 3.5rem;
}
.banner p{
    font-size: 1.3rem;
    color: grey;
}

/* Our Plants Section */
.our-plants-head h2{
    font-size: 2.6rem;
    text-align: center;
    margin-top: 100px;
}
.our-plants-head p{
    color: gray;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 30px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.product-card{
    padding: 10px;
    text-align: center;
}
.product-card img{
    max-width: 100%;
    height: auto;
}
.product-name{
    font-size: 1.1rem;
    margin: 10px 0 5px;
}
.product-price{
    font-weight: bold;
}
.product-card button{
    background-color: orangered;
    color: white;
    padding: 10px 30px;
    border: none;
    font-weight: bold;
}

/* Flower Section */
.flower{
    margin-top: 150px;
}
.flower-lover{
    display: flex;
    gap: 50px;
}
.image-container{
    position: relative;
    display: inline-block;
}
.main-img{
    display: block;
}
.trusted-badge{
    height: 250px;
    width: 250px;
    position: absolute;
    top: -100px;
    right: -80px;
    z-index: 10;
/* animation section */
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.flower-lover-right{
    margin-top: 30px;
}
.flower-lover h2{
    font-size: 2.6rem;
    margin-bottom: 20px;
}
.flower-lover li{
    margin-left: 25px;
    font-size: 1.3rem;
    color: grey;
}

/* Deal Section */
.deal-head{
    text-align: center;
}
.deal-head h2{
    margin-top: 100px;
    font-size: 2.6rem;
}
.deal-head p{
    margin-top: 20px;
    margin-bottom: 100px;
    color: grey;
    font-size: 1.3rem;
}
.deal-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    height: 425px;
}
.left-deal-card{
    position: relative;
    overflow: hidden;
}
.left-deal-card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(0.7);
}
.left-deal-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    justify-content: center;
    text-align: center;
}
.left-deal-card a{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.right-deal-card{
    position: relative;
    overflow: hidden;
}
.right-deal-card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(0.7);
}
.right-deal-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    justify-content: center;
    text-align: center;
}
.right-deal-card a{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Subscribe Section */
.subscribe{
    background-image: url(./assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: white;
    height: 300px;
    margin-top: 100px;
}
.subscribe h2{
    font-size: 2.6rem;
    margin-top: 50px;
    margin-bottom: 30px;
}
.subscribe form{
    display: flex;
    justify-content: center;
    gap: 0;
}
.subscribe form input{
    padding: 12px 15px;
    font-size: 1rem;
    background-color: white;
    columns: black;
    border: none;
    width: 600px;
}
.subscribe form button{
    padding: 12px 15px;
    font-size: 1rem;
    background-color: orangered;
    color: white;
    border: none;
    width: 180px;
}

/* Footer Section */
footer{
    display: flex;
    justify-content: space-between;
}
.footer-logo p{
    color: gray;
    font-size: 1.3rem;
    margin-top: 15px;
}
footer li{
    list-style: none;
    line-height: 50px;
}
footer li a{
    text-decoration: none;
    color: gray;
    font-size: 1rem;
}
.footer-social-icon a{
    margin: 0 10px;
}


/* Media Query Section */

@media (max-width: 576px) {
    
    /* Media Query of Nav Section */
    nav {
        flex-direction: flex;
        align-items: flex-end;
        gap: 10px;
        margin: 0 10px;
    }
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
    nav ul li {
        display: none;
    }
    nav ul li:last-child {
        display: block;
    }
    nav a {
        display: block;
        padding: 8px 0;
    }

    /* Media Query of Banner Section */
    .banner {
        flex-direction: column;
        height: auto;
        text-align: left;
        gap: 20px;
    }
    .banner > div:first-child {
        order: 2;
    }
    .banner > div:last-child {
        order: 1;
    }
    .banner img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 0 auto;
    }
    .banner h1 {
        font-size: 2rem;
        padding: 0px 10px;
    }
    .banner p {
        font-size: 1rem;
        padding: 0px 10px;
        margin-top: 15px;
    }

    /* Media Query of Our Plants Section */
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 0 10px;
    }
    .our-plants-head h2 {
        font-size: 2rem;
        margin-top: 50px;
    }
    .our-plants-head p {
        font-size: 1rem;
        padding: 0 10px;
        margin-top: 15px;
    }
    .product-card button {
        padding: 8px 20px;
        font-size: 0.9rem;
    }
    .product-name {
        font-size: 1rem;
    }
    .product-price {
        font-size: 0.95rem;
    }


    /* Media Query of Our Flower Section */
    .flower-lover {
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin: 0 10px;
    }
    .flower-lover-right {
        margin-top: 0;
    }
    .flower-lover h2 {
        font-size: 2rem;
    }
    .flower-lover li {
        font-size: 1rem;
        margin-left: 18px;
    }
    .trusted-badge {
        display: none;
    }
    .main-img {
        width: 100%;
        height: auto;
    }
    .image-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /* Media Query of Deal Section */
    .deal-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: auto;
        margin: 0 10px;
    }
    .left-column,
    .right-column {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    .left-deal-card,
    .right-deal-card {
        height: auto;
        width: 100%;
    }
    .left-deal-card img,
    .right-deal-card img {
        height: auto;
    }
    .left-deal-text,
    .right-deal-text {
        font-size: 0.9rem;
        padding: 20px;
        margin-bottom: 10px;
    }
    .left-deal-card a,
    .right-deal-card a{
        font-size: 1rem;
    }
    .deal-head h2 {
        font-size: 2rem;
        margin-top: 50px;
    }
    .deal-head p {
        font-size: 1rem;
        margin: 15px 0 50px;
        padding: 0 10px;
    }

    /* Media Query of Subscribe Section */
    .subscribe {
    padding: 60px 15px;
    height: auto;
    }
    .subscribe h2 {
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 20px;
    }
    .subscribe form {
    flex-direction: row;
    justify-content: center;
    gap: 0;
    }
    .subscribe form input {
    width: 60%;
    padding: 10px 12px;
    }
    .subscribe form button {
    width: 35%;
    padding: 10px 12px;
    }

    /* Media Query of Footer Section */
    footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        padding: 0 20px;
        margin: 0 10px;
    }
    .footer-logo p {
        font-size: 1rem;
    }
    footer > div:nth-child(2),
    footer > div:nth-child(3) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    footer li {
        line-height: 30px;
        margin: 0;
        padding: 0;
    }
    .footer-social-icon {
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        flex-wrap: wrap;
    }
    .footer-social-icon a img {
        width: 30px;
        height: 30px;
    }
}

@keyframes spin {
    0%{

    }
    50%{
        scale: 1.5;
        transform: rotate(0);
    }
    100%{
        scale: 1.5;
        transform: rotate(360deg);
    }
}