*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1280px;
    margin: 30px auto;
}
.strong{
    color: orangered;
}

/* nav bar section */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}

/* banner section */
.banner{
    display: flex;
    justify-content: end;
    align-items: end;
    justify-content: space-between;
    height: 500px;
}
.banner h1{
    font-size: 3.5rem;
}
.banner p{
    font-size: 1.3rem;
    color: grey;
}

/* Flower Section */
.flower{
    margin-top: 150px;
}
.flower-lover{
    display: flex;
    gap: 50px;
}
.image-container{
    position: relative;
    display: inline-block;
}
.main-img{
    display: block;
}
.trusted-badge{
    height: 250px;
    width: 250px;
    position: absolute;
    top: -100px;
    right: -80px;
    z-index: 10;
}
.flower-lover-right{
    margin-top: 50px;
}
.flower-lover h2{
    font-size: 2.6rem;
    margin-bottom: 20px;
}
.flower-lover li{
    margin-left: 25px;
    font-size: 1.3rem;
    color: grey;
}

/* Subscribe Section */
.subscribe{
    background-image: url(./assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: white;
    height: 300px;
}
.subscribe h2{
    font-size: 2.6rem;
    margin-top: 50px;
    margin-bottom: 30px;
}
.subscribe form{
    display: flex;
    justify-content: center;
    gap: 0;
}
.subscribe form input{
    padding: 12px 15px;
    font-size: 1rem;
    background-color: white;
    color: white;
    border: none;
    width: 600px;
}
.subscribe form button{
    padding: 12px 15px;
    font-size: 1rem;
    background-color: orangered;
    color: white;
    border: none;
    width: 180px;
}